{% extends 'base.html' %}

{% block head %}
<title>
    Softin | Modificar Residentes
</title>
<link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
{% endblock %}

{% block contenido %}
<body>
    <div class="sidebar">
        <div class="logo-details">
            <i>
                <img src="{{ url_for('static', filename='image/logo1.png')}}" class="img-fluid">
            </i>
            <span class="logo_name">Softin</span>
        </div>
        <ul class="nav-links">
            <li>
                <a href="{{ url_for('auth.menu') }}">
                    <i class="bx bx-grid-alt"></i>
                    <span class="link_name">Inicio</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="{{ url_for('auth.menu') }}">Inicio</a></li>
                </ul>
            </li>
            <li>
                <div class="iocn-link">
                    <a href="{{ url_for('auth.usuarios')}}">
                        <i class='bx bx-user'></i>
                        <span class="link_name">Usuarios</span>
                    </a>
                    <i class="bx bxs-chevron-down arrow"></i>
                </div>
                <ul class="sub-menu">
                    <li><a class="link_name" href="{{ url_for('auth.usuarios')}}">Usuarios</a></li>
                    <li><a href="{{ url_for('auth.usuarios_editar')}}">Editar</a></li>
                    <li><a href="{{ url_for('auth.usuarios_eliminar')}}">Eliminar</a></li>
                </ul>
            </li>
            <li>
                <div class="iocn-link">
                    <a href="{{ url_for('auth.muebles')}}">
                        <i class='bx bx-home-alt'></i>
                        <span class="link_name">Muebles</span>
                    </a>
                    <i class="bx bxs-chevron-down arrow"></i>
                </div>
                <ul class="sub-menu">
                    <li><a class="link_name" href="{{ url_for('auth.muebles')}}">Muebles</a></li>
                    <li><a href="{{ url_for('auth.muebles_registrar') }}">Registrar</a></li>
                    <li><a href="{{ url_for('auth.muebles_modificar') }}">Modificar</a></li>
                    <li><a href="{{ url_for('auth.muebles_eliminar') }}">Eliminar</a></li>
                </ul>
            </li>
            <li>
                <div class="iocn-link">
                    <a href="{{ url_for('auth.residentes')}}">
                        <i class='bx bx-hotel'></i>
                        <span class="link_name">Residentes</span>
                    </a>
                    <i class="bx bxs-chevron-down arrow"></i>
                </div>
                <ul class="sub-menu">
                    <li><a class="link_name" href="{{ url_for('auth.residentes')}}">Residentes</a></li>
                    <li><a href="{{ url_for('auth.residentes_registrar') }}">Registrar</a></li>
                    <li><a href="#">Modificar</a></li>
                    <li><a href="#">Eliminar</a></li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="bx bx-line-chart"></i>
                    <span class="link_name">Chart</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="#">Chart</a></li>
                </ul>
            </li>
            <li>
                <div class="iocn-link">
                    <a href="#">
                        <i class="bx bx-plug"></i>
                        <span class="link_name">Plugins</span>
                    </a>
                    <i class="bx bxs-chevron-down arrow"></i>
                </div>
                <ul class="sub-menu">
                    <li><a class="link_name" href="#">Plugins</a></li>
                    <li><a href="#">UI faces</a></li>
                    <li><a href="#">Pigments</a></li>
                    <li><a href="#">Box icon</a></li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="bx bx-compass"></i>
                    <span class="link_name">Explore</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="#">Explore</a></li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="bx bx-history"></i>
                    <span class="link_name">History</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="#">History</a></li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="bx bx-history"></i>
                    <span class="link_name">Setting</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="#">Setting</a></li>
                </ul>
            </li>
            <li>
        <div class="profile-details">
            <div class="profile-content">
                <img src="{{ url_for('static', filename='image/user-1.png')}}" alt="">
            </div>
                <div class="name-job">
                    <div class="profile_name">Gabriel Vieira</div>
                    <div class="job">Back-end Dev</div>
                </div>
                <i class="bx bx-log-out"></i>
        </div>
        </li>
    </ul>

        </div>
    </div>
    <section class="home-section">
        <div class="home-content">
            <i class="bx bx-menu"></i>
            <span class="text">Registrar Residente</span>
        </div>
        <!-- Tablero -->
        {% for ar in arrendatario %}
            <div class="card">
                <table class="table">
                    <tr class="tr">
                        <th class="th">Tipo</th>
                        <th class="th">Tamaño</th>
                        <th class="th">Disponible</th>
                    </tr>
                    
                    <tr>
                        <th>{{ ar.p_nombre }}</td>
                        <th>{{ ar.p_apellido }}</td>
                        <th>{{ ar.id_mueble}}</td>
                        <th>
                            <a  href="/modificar/{{ ar.ci_arrendatario }}">
                                <i class='bx bx-edit-alt'></i>
                            </a>
                        </th>
                    </tr>
                </table>
            </div>
        {% endfor %}
    </section>

    <script>
        let arrow = document.querySelectorAll(".arrow");
        for (var i = 0; i<arrow.length; i++){
            arrow[i].addEventListener("click",(e)=>{
            let arrowParent = e.target.parentElement.parentElement;
            console.log(arrowParent);
            arrowParent.classList.toggle("showMenu");
            });
        }

        let sidebar = document.querySelector(".sidebar");
        let sidebarBtn = document.querySelector(".bx-menu");
        console.log(sidebarBtn)
        sidebarBtn.addEventListener("click", ()=>{
            sidebar.classList.toggle("close")
        });
    </script>


</body>
{% endblock %}
